{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.8b3d7f63-344b-4782-b544-a9dbf00fad28",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.dd749994-c220-4637-b10b-1a500bd6b083",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}